@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}
.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    position: relative;
}
.equi {
    width: 400px;
    display: block;
    margin: 30px;
    border-radius: 20px;
}
.eye-hover {
    width: 400px;
   height: 400px;
    margin: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    position: absolute;
    background: hsla(178, 100%, 50%, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;

    &:hover {
        opacity: 1;
    }
}





/*
.diamond {
    background: url('./images/image-equilibrium.jpg') no-repeat center;
    width: 400px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;

    &:hover {
        background: url('./images/icon-view.svg') no-repeat;
        background-position: center;
        transition: opacity .2s;
    }
}*/
.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
}
h2 {
    margin: 10px 30px;
    color: hsl(0, 0%, 100%);
    opacity: .7;

    &:hover {
        cursor: pointer;
        color: hsl(178, 100%, 50%);
    }
}
.main-text {
    max-width: 400px;
    margin: 10px 30px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(215, 51%, 70%);
    opacity: .5;
}
.eth-days {
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    padding-bottom: 20px;
    color: hsl(178, 100%, 50%);
    border-bottom: 1px solid hsl(215, 32%, 27%);
}
.eth-days img {
    max-width: 28px;
    
}
.left, .right {
    display: flex;
    gap: 10px;
}
.eth-days .price {
    opacity: .65;
    font-weight: 600;
}

.eth-days .days {
    opacity: .6;
}
.author {
    display: flex;
    align-items: center;
    margin: 20px 30px;
    
}
.author img {
    width: 44px;
    border: 1px solid white;
    border-radius: 50%;
}
.author p {
    margin-left: 15px;
    font-size: 1.2rem;
    color: hsl(215, 51%, 70%);
}
.author a{
    text-decoration: none;
    color: white;
    opacity: .6;

    &:hover {
        color: orange;
        opacity: 1;
        font-style: italic;
    }
}
footer {
    padding: 20px;
}
.attribution a {
    text-decoration: none;
    color: hsl(215, 51%, 70%)
}